
// Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;  

$color-grey-dark: #777;

html {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.7;
    font-weight: 400;
    color: #fff;
    padding: 3rem;
    box-sizing: border-box;
}


.header {
    position: relative;
    background-image: linear-gradient(
        to right bottom,
         rgba($color-primary-light, 0.8),
          rgba($color-primary-dark, 0.8)),
        url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 90vh;

    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}


.header__logo-box {
    position: absolute;
    left: 3rem;
    top: 3rem;
    
}

.header__logo {
    height: 3.5rem;
}

.header__hero-area {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    text-transform: uppercase;
    color: #fff;
}

.heading-primary--main {
    display: block;
    letter-spacing: 3.5rem;
    font-size: 6rem;
    font-weight: 400;
    animation-name: moveToLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}
.heading-primary--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.5rem;
    font-weight: 700;
    animation-name: moveToRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    margin-bottom: 6rem;
}



/* Keyframes Animation */
@keyframes moveToLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveToRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveToTop {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited {
    display: inline-block;
    font-size: 1.6rem;
    padding: 1.5rem 4rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10rem;
    position: relative;
    transition: all .2s;
}

.btn--white {
    background: #fff;
    color: $color-grey-dark;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0 ,0 ,0, .2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0 ,0 ,0, .2);
}

.btn::after {
    display: inline-block;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10rem;
    transition: all .4s;
}
.btn--white::after {
    background: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--animated {
    animation: moveToTop .5s ease-out .75s;
    animation-fill-mode: backwards;
}