.form {


    &__group:not(:last-child) {
        margin-bottom: 3rem;
    }

    &__input {
        width: 100%;
        padding: 1.5rem 2rem;
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        border: none;
        background-color: rgba($color-white, .5);
        border-bottom: 3px solid transparent;
        transition: all .3s;

        @include respond(tablet) {
            width: 100%;
        }

        &:focus {
            outline: none;
            border-bottom: 3px solid $color-primary;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }

        &::-webkit-input-placeholder {
            color: #999;
        }

    }

    &__label {
        display: block;
        margin-left: 2rem;
        margin-top: .7rem;
        font-size: 1.2rem;
        font-weight: 700;
        transition: all .3s;
    }

    // Check if 'placeholder' is visible

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }



    // Radio Button / Checkbox
    &__radio-group {
        width: 49%;
        display: inline-block;

        @include respond(tablet) {
            width: 100%;
            margin-bottom: 2rem;
        }
    }
    
    &__radio-input {display: none;}
    
    &__radio-label {
        font-size: 1.6rem;
        cursor: pointer;
        position: relative;
        padding-left: 4rem;
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 3px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left:0;
        top:-.4rem;


        &::after {
            position: absolute;
            content: '';
            left: 50%;
            top: 50%;
            width: 1.5rem;
            height: 1.5rem;
            background: #55c57a;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all .3s;
        }
    }
    
    // Check if radio button is checked,
    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}