html {
    font-size: 62.5%; // 62.5% = 1rem = 10px

    // 1rem = 10px,
    // 1em = 16px

    @include respond(desktop) {
        font-size: 56.25%; // 1rem = 9px
    }
    @include respond(tablet) {
        font-size: 50%;   //  1rem = 8px 
    }
    @include respond(big-desktop) {
        font-size: 75%;   // 1rem = 12px
    }
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tablet) {
        padding: 0;
    }
}
